table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-container{
  padding-left: 2%;
  //padding-right: 6%;
  width: 100%;
  overflow: hidden;
}
.table-container-2{
  padding-left: 2%;
  padding-right: 2.5%;
  //background-color: #28ba62;
  //padding-right: 6%;
  width: 100%;

  overflow: hidden;
}
.table{
  float: left;
  //background-color: #28ba62;
  width: 50%;;
}
.main-table{
  padding-right: 50%;
  width: 95%;
}

.balanza2VSbalanza3{
  //background-color: #46b0e0;
  height: 50%;
  width: 100%;
}
.tableB2B3{
  width: 100%;
  //align-items: center;
  //align-content: center;
  //background-color: #7974ff;
  //margin:auto;
  //width: auto;
  //display:block;
}

.sala_brote{
  text-align: center;
}

.fecha-tittle{
  font-size: small;
  width: auto;
  background-color: rosybrown;
}


#TablaGV{
  height: 390px;
}
#TablaPRE{
  height: 390px;
}

#select{
  margin-top: 5px;
  //background-color: #2dd36f;
  min-height: 37px;
  text-align: center;
}
